<html>
        <header class="d-flex align-items-center justify-content-between" style="min-height: 100px;">
                <div class="logo">
                        <img class="icon-logo" src="https://via.placeholder.com/40" />
                </div>
                <nav class="pr-5">
                        <a class="pr-3 text-light" href="#">Search</a>
                        <a class="pr-3 text-light" href="#">Fee</a>
                        <a class="pr-3 text-light" href="#">Sign up</a>
                        <a class="pr-3 text-light" href="#">Sign in</a>
                </nav>
        </header>
</html>
