<%- include("./includes/head") %>
<body>
        <%- include("./includes/menu") %>
        <div class="container-fluid d-flex justify-content-center align-items-center min-height-80">
                <div class="container-form">
                        <form class="p-4" id="change-password-form">
                                <h4 class="pb-1">Change Password</h4>
                                <div class="form-group">
                                        <input
                                                type="password"
                                                name="new-password"
                                                class="form-control form-input"
                                                id="new-password"
                                                placeholder="New password"
                                        />
                                </div>
                                <div class="form-group">
                                        <input
                                                type="password"
                                                name="confirm-new-password"
                                                class="form-control form-input"
                                                id="confirm-new-password"
                                                placeholder="Confirm new password"
                                        />
                                </div>
                                <button type="submit" class="form-control form-submit">
                                        Submit
                                </button>
                        </form>
                </div>
        </div>
</body>
<%- include("./includes/foot") %>
