<%- include("./includes/head") %>
<html>
        <body>
                <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                        <form class="p-4" style="width: 500px;">
                                <div class="form-group">
                                        <label for="password">New password</label>
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                placeholder="New password"
                                                required
                                        />
                                </div>
                                <div class="form-group">
                                        <label for="confirm-password">Confirm password</label>
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="confirm-password"
                                                placeholder="Confirm password"
                                                required
                                        />
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                </div>
                <%- include("./includes/foot") %>
        </body>
</html>
