<%- include("./includes/head") %>
<html>
        <body>
                <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                        <form class="p-4">
                                <div class="form-group" style="width: 500px;">
                                        <label for="username">Username</label>
                                        <input
                                                type="username"
                                                class="form-control"
                                                id="username"
                                                placeholder="Username"
                                                required
                                        />
                                </div>
                                <div class="form-group">
                                        <label for="password">Password</label>
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                placeholder="Password"
                                                required
                                        />
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                </div>
                <%- include("./includes/foot") %>
        </body>
</html>
