<%- include("./includes/head") %>

<body>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="min-height: 100vh;"
  >
    <form class="p-4" id="login-form">
      <div class="form-group" style="width: 500px;">
        <label for="username">Username</label>
        <input
          type="username"
          name="username"
          class="form-control"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
      <a href="http://localhost:3000/user/register" class="btn btn-primary"
        >Sign up</a
      >
      <div id="status">...</div>
    </form>
  </div>
</body>
<%- include("./includes/foot") %>
<script src="/script/login.js"></script>
