<%- include("./includes/head") %>
<body>
        <%- include("./includes/menu") %>
        <div class="container-fluid d-flex justify-content-center align-items-center min-height-80">
                <div class="container-form">
                        <form class="p-4" id="login-form">
                                <h4 class="pb-1">Login</h4>
                                <div class="form-group">
                                        <input
                                                type="username"
                                                name="username"
                                                class="form-control form-input"
                                                id="username"
                                                placeholder="Username"
                                        />
                                </div>
                                <div class="form-group">
                                        <input
                                                type="password"
                                                name="password"
                                                class="form-control form-input"
                                                id="password"
                                                placeholder="Password"
                                        />
                                </div>
                                <button type="submit" class="form-control form-submit">
                                        Sign in
                                </button>
                        </form>
                </div>
        </div>
</body>
<%- include("./includes/foot") %>
<script src="/script/login.js"></script>
