<%- include("./includes/head") %>
<html>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center"
      style="min-height: 100vh;"
    >
      <form class="p-4" style="width: 500px;" id="resident-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            class="form-control"
            id="name"
            placeholder="Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="houseId">HouseId</label>
          <input
            type="houseId"
            class="form-control"
            id="houseId"
            placeholder="HouseId"
            required
          />
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          <input
            type="sex"
            class="form-control"
            id="sex"
            placeholder="Sex"
            required
          />
        </div>
        <div class="form-group">
          <label for="old">Old</label>
          <input
            type="old"
            class="form-control"
            id="old"
            placeholder="Old"
            required
          />
        </div>
        <div class="form-group">
          <label for="carrer">Career</label>
          <input
            type="carrer"
            class="form-control"
            id="career"
            placeholder="Career"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("./includes/foot") %>
  </body>
</html>
